*~
/src/*.o
/src/.deps/
/src/sniffit
/src/Makefile.in
/src/Makefile
/autom4te.cache/
/Makefile.in
/Makefile
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.h
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
